<?xml version="1.0" encoding="Shift_JIS"?>

<web-app id="picture" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <filter>
  	<filter-name>ReferFilter</filter-name>
  	<filter-class>jomora.picture.ReferFilter</filter-class>
  </filter>

<!--
  <filter-mapping>
  	<filter-name>ReferFilter</filter-name>
  	<servlet-name>ViewServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ReferFilter</filter-name>
  	<servlet-name>RandomViewServlet</servlet-name>
  </filter-mapping>
-->
  
  <servlet>
  	<servlet-name>ListServlet</servlet-name>
  	<jsp-file>/WEB-INF/page/list.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<servlet-class>jomora.picture.view.ViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimerServlet</servlet-name>
    <servlet-class>jomora.picture.schedule.TimerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>RandomViewServlet</servlet-name>
  	<servlet-class>jomora.picture.view.RandomViewServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>json-ws</servlet-name>
	  <servlet-class>net.arnx.jsonic.web.WebServiceServlet</servlet-class>
	  <init-param>
	    <param-name>config</param-name>
	    <param-value>
	    {
	      "debug": true,
	      "encoding": "UTF-8",
	      "expire": true,
	      "mappings": {
	        "/{package}/{class}.{ext}": "${package}.${class}Service",
	        "/{class}.{ext}": "jomora.net.service.${class}Service"
	      }
	    }
	    </param-value>
	  </init-param>
	</servlet>

  <servlet-mapping>
  	<servlet-name>ListServlet</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/view/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RandomViewServlet</servlet-name>
  	<url-pattern>/random/*</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
	  <servlet-name>json-ws</servlet-name>
	  <url-pattern>*.json</url-pattern>
	</servlet-mapping>

  <welcome-file-list>
  	<welcome-file>list</welcome-file>
  </welcome-file-list>

  <env-entry>
  	<env-entry-name>PictureDir</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>E:/picture</env-entry-value>
  </env-entry>
  <!--
  <env-entry>
  	<env-entry-name>TempFilePath</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>C:/WINDOWS/Temp/thumbData_picture.obj</env-entry-value>
  </env-entry>
  -->

  <env-entry>
  	<env-entry-name>FirstTime</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>04:10:00</env-entry-value>
  </env-entry>
  <env-entry>
  	<env-entry-name>Period</env-entry-name>
  	<env-entry-type>java.lang.Long</env-entry-type>
  	<env-entry-value>86400000</env-entry-value>
  </env-entry>

</web-app>
