<?xml version="1.0" encoding="Shift_JIS"?>

<web-app id="picture" version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
         
  <context-param>
    <param-name>PictureDir</param-name>
    <param-value>E:/picture</param-value>
  </context-param>

  <filter>
  	<filter-name>ReferFilter</filter-name>
  	<filter-class>jomora.picture.ReferFilter</filter-class>
  </filter>

<!--
  <filter-mapping>
  	<filter-name>ReferFilter</filter-name>
  	<servlet-name>ViewServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>ReferFilter</filter-name>
  	<servlet-name>RandomViewServlet</servlet-name>
  </filter-mapping>
-->
  
  <servlet>
  	<servlet-name>ListServlet</servlet-name>
  	<jsp-file>/WEB-INF/page/list.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>ViewServlet</servlet-name>
  	<servlet-class>jomora.picture.view.ViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimerServlet</servlet-name>
    <servlet-class>jomora.picture.schedule.TimerServlet</servlet-class>
    <init-param>
      <param-name>FirstTime</param-name>
      <param-value>04:10:00</param-value>
    </init-param>
    <init-param>
      <param-name>Period</param-name>
      <param-value>86400000</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>RandomViewServlet</servlet-name>
  	<servlet-class>jomora.picture.view.RandomViewServlet</servlet-class>
  </servlet>
	<servlet>
	  <servlet-name>json-ws</servlet-name>
	  <servlet-class>net.arnx.jsonic.web.WebServiceServlet</servlet-class>
	  <init-param>
	    <param-name>config</param-name>
	    <param-value>
	    {
	      "debug": true,
	      "encoding": "UTF-8",
	      "expire": true,
	      "mappings": {
	        "/{package}/{class}.{ext}": "${package}.${class}Service",
	        "/{class}.{ext}": "jomora.net.service.${class}Service"
	      }
	    }
	    </param-value>
	  </init-param>
	</servlet>

  <servlet-mapping>
  	<servlet-name>ListServlet</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewServlet</servlet-name>
  	<url-pattern>/view/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RandomViewServlet</servlet-name>
  	<url-pattern>/random/*</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
	  <servlet-name>json-ws</servlet-name>
	  <url-pattern>*.json</url-pattern>
	</servlet-mapping>

  <welcome-file-list>
  	<welcome-file>list</welcome-file>
  </welcome-file-list>

</web-app>
